<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "glass-form" }, data: {controller: "focus-input"}) do |f| %>
  <%= link_to :back, class: "back-arrow" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <h3>Resend Confirmation Instructions</h3>
  <%= render "admin/users/shared/error_messages", resource: resource %>

  <%= f.label :email, "Email", class: "label" %>
  <%= f.email_field :email, placeholder: "Email", class: "input-field", autofocus: false, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>

  <%= f.submit "Resend Confirmation Instructions", class: "submit-button" %>
  <%= render "admin/users/shared/links" %>
<% end %>


