<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "glass-form" }, data: {controller: "focus-input"}) do |f| %>
  <%= link_to :back, class: "back-arrow" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <h3>Change Your Password</h3>
  <%= render "admin/users/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>
  <%= f.label :password, "New Password", class: "label" %>
  <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %>
  <%= f.password_field :password, placeholder: "New Password", class: "input-field", autofocus: true, autocomplete: "new-password" %>

  <%= f.label :password_confirmation, "Confirm New Password", class: "label" %>
  <%= f.password_field :password_confirmation, placeholder: "Confirm New Password", class: "input-field", autocomplete: "new-password" %>

  <%= f.submit "Change My Password", class: "submit-button" %>
  <%= render "admin/users/shared/links" %>
<% end %>



